//  .Auth{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 100vh;
//     gap: 4rem;
//     position: relative;
// }
// .Auth>div{
//     display: flex;
//     align-items: center;
//     justify-content: center;
// } 

// /* left side */
//  .a-left{
//     gap: 2rem;
// }
// .a-left>img{
//     width: 4rem;
//     height: 4rem;
// }
// .webname>h1{
//     font-size: 3rem;
//     background-color: red; 

//     /* create the gradient */
//      background-image: var(--buttonBg); 
//     // set the backgrount size and repeat properties 
//      background-size: 100%;
//     background-repeat: repeat; 
//     //  this will show the gradient as a text color rather than element bg 
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     -moz-text-fill-color:transparent;
// }
// .webname>h6{
//     font-size: 0.85rem;
// }
// .infoform{
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     gap: 2rem;
// }
// .infoinput{
//     border: none;
//     outline: none;
//     background-color: var(--inputColor);
//     border-radius: 8px;
//     padding: 20px;
//     flex: 1;
// }
// .infoform>div{
//     display: flex;
//     gap: 1rem;
//     height: 2rem;
//     width: 90%;
// }
// .infobutton{
//     width: 6rem;
//     height: 2rem;
//     align-self: flex-end;
// }
// .authForm{
//     background-color: var(--cardColor);
//     border-radius: 1rem;
//     padding: 1rem;
// }
// .authForm>div{
//     width: 100%;
//     align-items: center;
//     justify-content: center;
// } 



$font-family:   "Roboto";
$font-size:     14px;

$color-primary: #ABA194;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100px;
}

body {
    font-size: $font-size;
    background-size: 200% 100% !important;
    animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%);
    height: 100vh
}
h2{
    text-align: center;
    color: rgb(53, 36, 147);
}
.user {
    width: 90%;
    max-width: 340px;
    margin: 10vh auto;
}

.user__header {
    text-align: center;
   
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.7s forwards;
}

.user__title {
    font-size: $font-size;
    margin-bottom: -10px;
    font-weight: 500;
    color: rgb(72, 158, 152);
}

.form {
    margin-top: 40px;
    border-radius: 6px;
    overflow: hidden;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.9s forwards;
}

.form--no {
    animation: NO 1s ease-in-out;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.form__input {
    display: block;
    width: 100%;
    padding: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    transition: 0.3s;
    
    &:focus {
        background: darken(#fff, 3%);
    }
}

.btn {
    display: block;
    width: 100%;
    padding: 20px;
    font-family: $font-family;
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    color: white;
    background: $color-primary;
    transition: 0.3s;
    
    &:hover {
        background: darken($color-primary, 5%);
    }
}

@keyframes NO {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }
    
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes move {
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 0
    }

    100% {
        background-position: 0 0
    }
}